@import 'tailwindcss';

@layer components {
  .main {
    @apply p-6;
  }
  .form {
    @apply px-6 py-4 flex gap-4 justify-between items-end;
  }
  .form-wrapper {
    @apply bg-white  shadow-md rounded-md border border-gray-500/30 flex flex-col gap-6;
  }
  .form-item {
    @apply w-full;
  }
  .form-url {
    @apply bg-gray-200/50 w-full h-full px-6 py-4 border-t border-gray-500/30 rounded-bl-md rounded-br-md;
  }
  .form-table {
    @apply w-full rounded-lg shadow-md border border-gray-500/30;
  }
}
@layer base {
  body {
    @apply bg-gray-100;
  }
}
